<div class="row">
    <div class="col-6 col-sm-6 col-lg-6">
      <br>
      <h3 class="text-muted">{{ listTitle }}</h3>
      <br />
      <ul class="list-group" *ngFor="let job of jobs">
        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"      >
          <div class="flex-column">
            <b><p style="font-size: 20px;margin-bottom: -1px">
                {{ job.title }}
              </p></b>
            <p style="font-size: 20px">{{ job.company }}</p>
            <button routerLink="/jobdetail/{{job.id}}" class="btn btn-sm btn-primary" style="font-weight: bold">İlana Gözat</button>
          </div>
          <div class="image-parent">
            <img
              width="100px"
              height="100px"
              src="https://cdn4.iconfinder.com/data/icons/adiante-apps-app-templates-incos-in-grey/512/app_type_real_state_512px_GREY.png"
              class="img-fluid"
              alt="quixote"
            />
          </div>
        </div>
      </ul>
    </div>
</div>
